{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Quan ly Co so san xuat che bien go
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Thong tin Cac co so</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Ten co so</th>
                      <th>Loai hinh san xuat</th>
                      <th>Hinh thuc san xuat</th>
                      <th>Dia diem</th>
                      <th>Ngay thanh lap</th>
                      <th>Thao tac</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cssx_che_bien_go in cssx_che_bien_go_all %}
                    <tr>
                      <td>{{ cssx_che_bien_go.id}}</td>
                      <td>{{ cssx_che_bien_go.ten_co_so}}</td>
                      <td>{{ cssx_che_bien_go.loai_hinh_san_xuat.ten_loai_hinh_san_xuat }} </td>
                      <td>{{ cssx_che_bien_go.loai_hinh_hoat_dong.ten_hinh_thuc_hoat_dong }}</td>
                      <td>{{ cssx_che_bien_go.dia_diem}}</td>
                      <td>{{ cssx_che_bien_go.ngay_thanh_lap}}</td>
                      <td><a href="edit_cssx_che_bien_go/{{cssx_che_bien_go.id}}" class="btn btn-success">Chinh sua</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

