{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Them loai hinh thuc hoat dong
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Thong tin hinh thuc hoat dong</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_hinh_thuc_hoat_dong_save" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Ten Hinh Thuc Hoat Dong</label>
                    <input
                      type="text"
                      class="form-control"
                      name="hinh_thuc_hoat_dong"
                      placeholder="Nhap ten hinh thuc hoat dong"
                      id="hinh_thuc_hoat_dong"
                      autocomplete="off"
                    />
                  </div>
                  </div>
                  <div class="form-group">
                    {% if messages %} {% for message in messages %} 
                    {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top: 10px">
                        {{ message }}
                      </div>
                    {% endif %} 
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top: 10px">
                      {{ message }}
                    </div>
                    {% endif %} {% endfor %} {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Them Hinh Thuc Hoat Dong</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

