{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Chinh sua loai bien dong  | Ten loai bien dong : {{ loai_bien_dong.ten_loai_bien_doi }} |  #ID : {{ loai_bien_dong.id }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Chinh sua</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_loai_bien_dong_save" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Ten loai bien dong</label>
                    <input
                      type="text"
                      class="form-control"
                      name="ten_loai_bien_doi"
                      placeholder="Nhap ten loai bien dong"
                      id="ten_loai_bien_doi"
                      autocomplete="off"
                      value="{{loai_bien_dong.ten_loai_bien_doi}}"
                    />
                    <input type="hidden"  name="id_loai_bien_dong"  value="{{ loai_bien_dong.id }}">
                  <div class="form-group">
                    {% if messages %} {% for message in messages %} 
                    {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top: 10px">
                        {{ message }}
                      </div>
                    {% endif %} 
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top: 10px">
                      {{ message }}
                    </div>
                    {% endif %} {% endfor %} {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Cap nhat loai cay giong</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

